/* ================================================
Google fonts
======================================================= */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@400;500;600;700&display=swap');



*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;

}

body{
    font-size: 16px;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    width: 100%;
}

section{
    padding: 70px 0px;
}

/* Banner */

#banner{
    background: linear-gradient(rgba(0, 0, 0, 0.5), #009688), url(../images/banner.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 0px 0px;
}


.logo{
    width: 140px;
    position: absolute;
    top: 4%;
    left: 10%;
}

.banner-text{
    text-align: center;
    padding-top: 180px;
    color: #fff;
}

.banner-text h1{
    font-size: 130px;
    font-family: 'Kaushan Script', cursive;
}


.banner-text p{
    font-size: 20px;
    font-style: italic;
}


.banner-btn{
    margin: 70px auto 10px;
    z-index: -1;
}

.banner-btn a{
    width: 150px;
    display: inline-block;
    border: 1px solid #fff;
    color: #fff;
    padding: 12px 0px;
    margin: 0 10px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    transition: 0.5s;
}

.banner-btn a span{
    position: absolute;
    background: #fff;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: 0.5s;
}

.banner-btn a:hover span{
    width: 100%;

}

.banner-btn a:hover{
    color: #000;
}


/* Side Navbar */

#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    background: #009688;
    transition: 0.5s;
    z-index: 3;
}

#sideNav ul li{
    margin: 40px 20px;
}


#sideNav ul li a{
    color: #fff;
}


#menuBtn{
    width: 50px;
    height: 50px;
    background: #009688;
    text-align: center;
    position: fixed;
    top: 20px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    cursor: pointer;
    z-index: 5;

}

#menuBtn img{
    width: 20px;

}



/*  Features  */

.titleText{
    text-align: center;
    margin-bottom: 60px;
}

.titleText h1{
    font-size: 40px;
}

.titleText p{
    font-size: 20px;
    color: #009688;
    font-weight: bold;
    position: relative;
    display: inline-block;
}

.titleText p::after{
    position: absolute;
    content: "";
    width: 50px;
    height: 35px;
    background: linear-gradient(#009688, rgba(255, 255, 255, 0.39));
    left: 0px;
    top: -25px;
    border-radius: 35px 0px 35px 0px;
    transform: rotate(10deg);

}



/* Mobile Friendly Layout */

@media  screen and (max-width: 770px) {
    .banner-text h1{
        font-size: 45px;
    }
    .banner-text p{
        font-size: 15px;
    }
    

    .banner-btn{
        margin: 130px auto 0;
    }
    .banner-btn a{
        width: 120px;
        display: block;
        margin: 20px auto;

    }
    
    
    
}